.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 48px;
  outline: 1px solid green;
}

@media screen and (max-width: 984px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 568px) {
  .header {
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
  }
}

