.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 92px 48px 0;
}

@media screen and (max-width: 984px) {
  .footer  {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 706px) {
  .footer  {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 64px;
    padding-left: 16px;
  }
}

